.header {
  height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navlogo {
  margin-top: 40px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: 5px;
  margin-left: 12px;
}


.nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5px;
}

.option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}

.basket {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 5px;
  margin-top: 7px;
}

.firstLine {
  font-size: 10px;
}

.secondLine {
  font-size: 13px;
  font-weight: 900;
}

.basketCount {
  margin: 0 6px;
  text-decoration: none;
}

.search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  margin: 0 20px;
}


.searchIcon {
  padding: 5px;
  height: 30px !important;
  background-color: #fcba03;
  font-size: 3.2rem !important;
  padding: 5px;
  border-radius: 0 5px 5px 0;
}

.searchInput {
  height: 20px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}